body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero{
  display: flex; 
  height: 100vh; 
  background-image: url("./image/2023_1264_RY_00063.jpg");
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
  background-size: cover; 
  color: white; 
  align-items: flex-start; 
}

.content{
  display: flex;
  flex-direction: column; 
  width: 100%; 
  max-width: 1200px; 
  justify-content: center; 
  margin: 140px auto; 
  align-items: center; 
  text-align: center; 
}

.content h1{
  font-size: 56px; 
  font-weight: bolder;
}

.content p{
  font-size: 22px; 
  letter-spacing: 2px; 
  max-width: 550px; 
  margin: 15px 0; 
}

.content a{
  font-size: 22px; 
  padding: 12px 24px;
  text-decoration: none; 
  background-color: turquoise; 
  border-radius: 10px; 
}

.search-wrapper input {
  text-align: None;
  background: white url('https://icons.veryicon.com/png/o/miscellaneous/prototyping-tool/search-bar-01.png') no-repeat 10px center;
  background-size: 20px 20px;
  height: 50px;
  width: 500px;
  outline: None; 
  border-radius: 30px;
  padding-top: 0px; 
  padding-bottom: 0px;
  line-height: 50px; 
  box-shadow: None; 

}

.search-wrapper input::placeholder {
  font-size: 20px; 
  line-height: 50px; 
}

input {
  padding-left: 40px; 
  font-size: 20px; 
}

